@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

.progress-container {
  position: relative;
  width: 200px;
  /* 調整進度條容器的寬度 */
  height: 20px;
  /* 調整進度條容器的高度 */
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  /* 調整進度條的背景顏色 */
}

body {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  background-color:#FFDE59 !important;

}

.task-manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  height: 82vh;
  max-height: 900px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016),
    0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024),
    0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  margin-top: 90px;
  
}

/*  */

.page-content {
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;
  /* 设置固定的高度 */
  /* 添加垂直滚动条 */


}
.page-content-header-bar{
  display: flex;

}



.page-content .header {
  font-size: 26px;
  color: var(--main-color);
  margin-top: -55px;
}

.content-categories {
  display: flex;
  width: 103%;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}



.upcoming {
  border-bottom: 1px solid #ddd;
  width: 103%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}



.right-bar {
  width: 400px;
  border-left: 5px solid #e3e7f7;
  display: flex;
  flex-direction: column;


}

.right-bar .header {
  font-size: 20px;
  color: var(--main-text-color);
  margin-left: 30px;
}

.top-part {
  padding: 20px;
  align-self: flex-end;
}


body,
.item {
  display: flex;
  align-items: center;
}


.container {
  width: 100%;
  height: 100%;
}

.progressbar {
  counter-reset: step;
  margin-top: 20px;
}

.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 81.5%;
  height: 3px;
  background-color: #ddd;
  top: 15px;
  left: -42%;
  z-index: 1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: rgb(0, 4, 128);
}

.progressbar li.active:before {
  border-color:  rgb(0, 4, 128);
}

.progressbar li.active+li:after {
  background-color:  rgb(0, 4, 128);
}
.cardgroup {
  display: flex;
  flex-direction: row-reverse;
}

@keyframes shadow-drop-bl {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.card {
  animation: shadow-drop-bl forwards;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.jello-horizontal {
	animation: jello-horizontal 0.9s both;
}

.task_content{
  width: 400px;
  display: flex;
  flex-direction: colum;
  margin-left: 20px;
margin-top: 5px;
}

.content_header{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: -20px; /* 加入底部間距，您可以自行調整數值 */

}


.todaycoupon-text {
  top: 435px;
  position: absolute;
  right: 160px;
  font-weight: bold;
  font-size: 18px;
  animation: bounceIn 0.75s ease;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}


.card {
  top: 120px;
  position: absolute;
  right: -55px;
}

.custom-link {
  color: #696666; /* 更改链接颜色为红色 */
  font-weight: bold; /* 设置字体粗细为粗体 */
  font-style: italic; /* 设置字体样式为斜体 */
  
}

#openmissionbutton {
  margin-left: 530px;
  border-radius: 15px; /* 調整此值以控制圓角的大小 */
  background-color: #03182e; /* 背景顏色 */
  color: #fff; /* 文字顏色 */
  border: none; /* 去掉邊框 */
  padding: 10px;
  cursor: pointer; /* 鼠標指針類型 */
  font-size: 17px;
  animation: pulse ; /* 使用 pulse 動畫，2秒循環 */
}

#missiondialog {
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white; 
  border: 3px solid rgb(117, 110, 110); /* 添加边框样式 */
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
  z-index: 1000;
  opacity: 0; /* 初始时设置透明度为0 */
  transition: opacity 0.5s ease; /* 添加过渡效果 */
  
}



.dialog-categories {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #5a5656;
  padding: 4px;
}


#missiondialog h1 {
    font-size: 28px;
    color: #4a897a;
    margin-bottom: 10px;
    font-weight: bold;
    animation: blinking 2s infinite;
  }

  @keyframes blinking {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #missiondialog p{
    font-size: 18px;
    color: #03182e;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #03182e;
    transition: color 0.3s; /* 添加过渡效果，使颜色变化平滑 */
  }

  .close-button:hover {
    color: rgb(232, 228, 228); /* 悬停时按钮颜色变为红色 */
  }

  

  
  

  @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

  .start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 5px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
  }
  .start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
  }
  .start-header.scroll-on .navbar-brand img{
    height: 24px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
  }
  .navigation-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
  }
  .navbar{
    padding: 0;
  }
  .navbar-brand img{
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
  }
  .navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
  }
  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: none;
  }
  .navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
      transition: all 300ms linear;
  }
  .navbar-light .navbar-toggler-icon:after, 
  .navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
      transition: all 300ms linear;
  }
  .navbar-light .navbar-toggler-icon:after{
    top: 8px;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
  }
  .nav-link{
    color: #212121 !important;
    font-weight: 500;
      transition: all 200ms linear;
  }
  .nav-item:hover .nav-link{
    color: #ffea97 !important;
  }
  .nav-item.active .nav-link{
    color: #777 !important;
  }
  .nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
  }
  .nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #ffd23e;
    opacity: 0;
      transition: all 200ms linear;
  }
  .nav-item:hover:after{
    bottom: 0;
    opacity: 1;
  }
  .nav-item.active:hover:after{
    opacity: 0;
  }
  .nav-item{
    position: relative;
      transition: all 200ms linear;
  }
  
  /* #Primary style
  ================================================== */
  
  .bg-light {
    background-color: #fff !important;
      transition: all 200ms linear;
  }
  .section {
      position: relative;
    width: 100%;
    display: block;
  }
  .full-height {
      height: 100vh;
  }
  .over-hide {
      overflow: hidden;
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 40px;
    transform: translateY(-50%);
    z-index: 20;
  }
  h1{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: #212112;
    text-align: center;
  }
  p{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    opacity: 1;
    transform: translate(0);
      transition: all 300ms linear;
      transition-delay: 1700ms;
  }
  body.hero-anime p{
    opacity: 0;
    transform: translateY(40px);
      transition-delay: 1700ms;
  }
  h1 span{
    display: inline-block;
      transition: all 300ms linear;
    opacity: 1;
    transform: translate(0);
  }
  body.hero-anime h1 span:nth-child(1){
    opacity: 0;
    transform: translateY(-20px);
  }
  body.hero-anime h1 span:nth-child(2){
    opacity: 0;
    transform: translateY(-30px);
  }
  body.hero-anime h1 span:nth-child(3){
    opacity: 0;
    transform: translateY(-50px);
  }
  body.hero-anime h1 span:nth-child(4){
    opacity: 0;
    transform: translateY(-10px);
  }
  body.hero-anime h1 span:nth-child(5){
    opacity: 0;
    transform: translateY(-50px);
  }
  body.hero-anime h1 span:nth-child(6){
    opacity: 0;
    transform: translateY(-20px);
  }
  body.hero-anime h1 span:nth-child(7){
    opacity: 0;
    transform: translateY(-40px);
  }
  body.hero-anime h1 span:nth-child(8){
    opacity: 0;
    transform: translateY(-10px);
  }
  body.hero-anime h1 span:nth-child(9){
    opacity: 0;
    transform: translateY(-30px);
  }
  body.hero-anime h1 span:nth-child(10){
    opacity: 0;
    transform: translateY(-20px);
  }
  h1 span:nth-child(1){
      transition-delay: 1000ms;
  }
  h1 span:nth-child(2){
      transition-delay: 700ms;
  }
  h1 span:nth-child(3){
      transition-delay: 900ms;
  }
  h1 span:nth-child(4){
      transition-delay: 800ms;
  }
  h1 span:nth-child(5){
      transition-delay: 1000ms;
  }
  h1 span:nth-child(6){
      transition-delay: 700ms;
  }
  h1 span:nth-child(7){
      transition-delay: 900ms;
  }
  h1 span:nth-child(8){
      transition-delay: 800ms;
  }
  h1 span:nth-child(9){
      transition-delay: 600ms;
  }
  h1 span:nth-child(10){
      transition-delay: 700ms;
  }
  body.hero-anime h1 span:nth-child(11){
    opacity: 0;
    transform: translateY(30px);
  }
  body.hero-anime h1 span:nth-child(12){
    opacity: 0;
    transform: translateY(50px);
  }
  body.hero-anime h1 span:nth-child(13){
    opacity: 0;
    transform: translateY(20px);
  }
  body.hero-anime h1 span:nth-child(14){
    opacity: 0;
    transform: translateY(30px);
  }
  body.hero-anime h1 span:nth-child(15){
    opacity: 0;
    transform: translateY(50px);
  }
  h1 span:nth-child(11){
      transition-delay: 1300ms;
  }
  h1 span:nth-child(12){
      transition-delay: 1500ms;
  }
  h1 span:nth-child(13){
      transition-delay: 1400ms;
  }
  h1 span:nth-child(14){
      transition-delay: 1200ms;
  }
  h1 span:nth-child(15){
      transition-delay: 1450ms;
  }
  #switch,
  #circle {
    cursor: pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
  } 
  #switch {
    width: 60px;
    height: 8px;
    border: 2px solid #8167a9;
    border-radius: 27px;
    background: #000;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    transform: translate(0);
      transition: all 300ms linear;
      transition-delay: 1900ms;
  }
  body.hero-anime #switch{
    opacity: 0;
    transform: translateY(40px);
      transition-delay: 1900ms;
  }
  #circle {
    position: absolute;
    top: -11px;
    left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #000;
  }
  
  .nav-item .dropdown-menu {
      transform: translate3d(0, 10px, 0);
      visibility: hidden;
      opacity: 0;
    max-height: 0;
      display: block;
    padding: 0;
    margin: 0;
      transition: all 200ms linear;
  }
  .nav-item.show .dropdown-menu {
      opacity: 1;
      visibility: visible;
    max-height: 999px;
      transform: translate3d(0, 0px, 0);
  }
  .dropdown-menu {
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
      transition: all 200ms linear;
  }
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
      transition: all 200ms linear;
  }
  .dropdown-item:hover, 
  .dropdown-item:focus {
    color: #fff;
    background-color: rgba(129,103,169,.6);
  }
  
  /* #Media
  ================================================== */
  
  @media (max-width: 767px) { 
    h1{
      font-size: 38px;
    }
    .nav-item:after{
      display: none;
    }
    .nav-item::before {
      position: absolute;
      display: block;
      top: 15px;
      left: 0;
      width: 11px;
      height: 1px;
      content: "";
      border: none;
      background-color: #000;
    }
    .dropdown-toggle::after {
      position: absolute;
      display: block;
      top: 10px;
      left: -23px;
      width: 1px;
      height: 11px;
      content: "";
      border: none;
      background-color: #000;
      transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
      transform: rotate(90deg);
      opacity: 0;
    }
    .dropdown-menu {
      padding: 0 !important;
      background-color: transparent;
      box-shadow: none;
      transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
      margin-top: 10px !important;
      margin-bottom: 20px !important;
    }
  
  }
/*==============================================coupondialog*/

.couponbutton {
  border-radius: 15px; /* 調整此值以控制圓角的大小 */
  background-color: #03182e; /* 背景顏色 */
  color: #fff; /* 文字顏色 */
  border: none; /* 去掉邊框 */
  padding: 10px;
  cursor: pointer; /* 鼠標指針類型 */
  font-size: 17px;
  
}

.endingbutton {
  border-radius: 15px; /* 調整此值以控制圓角的大小 */
  background-color: #03182e; /* 背景顏色 */
  color: #fff; /* 文字顏色 */
  border: none; /* 去掉邊框 */
  padding: 10px;
  cursor: pointer; /* 鼠標指針類型 */
  font-size: 17px;
  
}

.modal {
  display: flex;
  width: 70%;
  height: 50%;
  padding: 4px;
  margin: auto; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  border: 3px solid rgb(117, 110, 110); /* 添加边框样式 */
  background-color: #fefefe;
  border-radius: 10px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
  
}



.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -280px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myModal h1 {
  font-size: 28px;
  color: #4a897a;
  margin-bottom: 10px;
  font-weight: bold;
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#myModal p{
  font-size: 18px;
  color: #03182e;
  font-weight: bold;
}


#emailForm {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

label {
  margin-right: 10px; /* 调整label和input之间的间距 */
  margin-top: 7px;
  font-size: 20px;
  font-weight: bold;
  
}

#emailForm input[type="email"] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 30px; /* 设置输入框的高度为30像素 */
  
  
}

#emailForm input[type="submit"] {
  background-color: rgb(160, 160, 163);
  color: rgb(0, 0, 0); 
  height: 30px;
  width: 50px;
  margin-left: 30px;
}

#emailForm input[value="送出"] {
  font-size: 18px;
  font-weight: bold;
}

#sendCoupon{
 
  margin-left: 30px;
}



